*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-color: black;
   
}


.main{
    
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(23, 23, 23, 0.2);
}
.main .box{
    height: 80vh;
    width: 100px;
    position: absolute;
    top: 0%;
    background-color: black;

}
nav{
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    position:  relative ;
    top: 30px;
    background-color: rgba(23, 23, 23, 0.2);
}
.main img{
   width: 150px;
   height: 50px;
   background-color: rgba(23, 23, 23, 0.2);
}
.box {
    position: absolute;
    text-align: center;
    top: 170px;
    left: 350px;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);

}
.box span{
    font-size: 40px;
    background-color: rgba(23, 23, 23, 0.2);
}
.box p{
    font-size: 20px;
    background-color: rgba(23, 23, 23, 0.2);
}
.input1{
    text-align: center;
    margin-top: 280px;
    background-color: rgba(23, 23, 23, 0.2);
   
}
.line{
    background-color: rgb(80, 76, 76);
    height: 8px;
}
.red-button{
    padding: 5px 15px;
    background-color: red;
    color: white;
    border-radius: 6px;
    border-color: rgb(255, 0, 0);
    margin-left: 15px;
}
.input1 input{
    font-size: 15px;
    padding: 7px 20px;
    background-color: rgba(23, 23, 23, 0.2);
    border-color: rgb(231, 225, 225);
    color: white;
}
.input1 button{
    font-size: 15px;
    padding: 7px 25px;
}
.white-button{
    background-color: rgba(23, 23, 23, 0.2);
    border-color: rgb(231, 225, 225);
    font-size: 15px;
    padding: 7px 20px;
    color: white;
}
.view1{
   
    background-color: black;
    color: white;
    margin-left: 150px;
    margin-top: 140px;
    
   
}
.img1 img{
   
   background-color: black;
   position: absolute;
   top: 600px;
   left: 800px; 
   

}
.text1{
  margin-left: 200px;
  margin-top: 100px;
  background-color: black;

}
.view1 span{
    font-size: 45px;
}
.view1 p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1 video{
   
   position: absolute;
   
   top: 700px;
   left: 880px; 
}
.line2{
    background-color: rgb(80, 76, 76);
    height: 8px;
    margin-top: 280px;
}
.view2{
    display: flex;
    color: white;
}
.box2 span{
    font-size: 45px;
}
.box2 p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box2{
    margin-top: 200px;
    margin-left: 80px;
}
.view2 img{
    height: 400px;
    width: 500px;
    margin-left: 200px;
    margin-top: 100px;
}
.line3{
    background-color: rgb(80, 76, 76);
    height: 8px;
    margin-top: 80px;
}

.view3{
    display: flex;
    color: white;
}
.box3 span{
    font-size: 45px;
}
.box3 p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box3{
    margin-top: 200px;
    margin-left: 150px;
}
.view3 img{
    height: 400px;
    width: 500px;
    margin-left: 200px;
    margin-top: 100px;
   
}
.line4{
    background-color: rgb(80, 76, 76);
    height: 8px;
    margin-top: 80px;
   
   
}
.boby-video{
    height: 150px;
    width: 270px;
    position: absolute;
    top: 1890px;
    right: 270px;
}

h1{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.question{
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;

    
}
.question a{
    display: block;
    text-align: left;
    padding: 22px;
    margin: 17px;
    background-color: rgb(75, 73, 73);
    justify-content: space-between;
}
.question a span{
    background-color: rgb(75,73,73);
    text-align: right;
   
    
}
.text-a{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    color: white;
}
.input-1{
    text-align: center;
    margin-top: 30px;
    
  
}
.input-1 input{
    font-size: 15px;
    padding: 7px 20px;
    background-color: rgba(23, 23, 23, 0.2);
    border-color: rgb(231, 225, 225);
    color: white;
}
h3{
    color: white;
    font-family: Helvetica, sans-serif ;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 270px;

}
h3 a{
    color: white;
    font-family: cursive ;
    font-size: 15px;

    
}

footer{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 30px;
    margin-left: 150px;

}
.data1{
    display: block;
    padding: 15px;
    color: rgb(187, 176, 176);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.box-a{
    margin-left: 110px;
}
.buttonx{
    margin-left: 270px;
    
}
.text-b{
    color: rgb(187, 176, 176);
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 270px;

}